
  .toggleWrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);
  }
  .toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83D8FF;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .toggle:before {
    content: "Первая неделя";
    position: absolute;
    left: -50px;
    right: 100px;
    top: 10px;
    font-size: 12px;
    color: white;
  }
  .toggle:after {
    content: "Вторая неделя";
    position: absolute;
    right: -98px;
    left: 100px;
    top: 10px;
    font-size: 12px;
    color: #749ED7;
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }
  
  input:checked + .toggle {
    background-color: #749DD6;
  }
  input:checked + .toggle:before {
    color: #749ED7;
  }
  input:checked + .toggle:after {
    color: #ffffff;
  }
  input:checked + .toggle .toggle__handler {
    background-color: #FFE5B5;
    transform: translate3d(40px, 0, 0) rotate(0);
  }
