table {
    border-collapse: collapse;
    border: 4px rgba(0, 0, 0, 0.3) solid;
    font: 12px sans-serif;
    width: 500px;
    height: 200px;
}

td {
    border: 1px rgba(0, 0, 0, 0.3) dotted;
    padding: 2px;
    color: #fff;
    text-align: center;
}

body {
	background: #101318;
	/*text-shadow: 0 0 0.4vw currentColor;*/
    font-family: "Helvetica Rounded", "Arial Rounded MT Bold", "Montserrat", sans-serif;
}

tr:nth-child(1){
    font-weight: bold;
    font-style: italic;
    background-color: rgb(0, 0, 0, 0.5);
}

tr:nth-child(2), tr:nth-child(4), tr:nth-child(6), tr:nth-child(2){
    background-color: rgb(0, 0, 0, 0.1);
}

td:nth-child(1), td:nth-child(2){
    background-color: rgb(0, 0, 0, 0.2);
}


.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 0;
}

.container .box
{
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #bb8900, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #9b0137)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #161616, #27879c)
}

.container .box:nth-child(4):before,
.container .box:nth-child(4):after
{
  background: linear-gradient(315deg, #d3a21b, #5c2d6e)
}

.container .box:nth-child(5):before,
.container .box:nth-child(5):after
{
  background: linear-gradient(315deg, #347e14, #007b97)
}

.container .box:nth-child(6):before,
.container .box:nth-child(6):after
{
  background: linear-gradient(315deg, #751555, #c74c4c)
}

.container .box:nth-child(7):before,
.container .box:nth-child(7):after
{
  background: linear-gradient(315deg, #102d5a, #509219)
}
.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

/*
.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}
*/

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
  padding: 10px;
}

/* Links */
.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  /* background: #fff; */
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 5px;
  text-decoration: underline;
}

.container .box .content a:hover
{
  background: #000000;
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  color: white;
}